{% extends 'base.html' %}


{% block title %} Contact page | {% endblock title %}

{% block body %}


<div class="forms container px-4 m-5">

    <form class="row g-3" method="post" action="/contact">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" name="email">
        </div>
        {% comment %} <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div> {% endcomment %}

        <div class="col-12">
            <label for="inputphn2" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="inputphn2" name="phn">
          </div>
          {% comment %} <div class="col-md-2">
            <label for="inputText" class="form-label">Tell me why you want to contact me</label>
            <textarea rows="4" cols="500" class="form-control" id="inputText"></textarea>
          </div> {% endcomment %}

          <div class="col-12">
            <label for="inputText" class="form-label">Tell me why you want to contact me</label>
            <textarea rows="4" cols="100" class="form-control" id="inputText" name="desc"></textarea>
          </div>

        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
        </div>
     
        {% comment %} <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div> {% endcomment %}
        {% comment %} <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>WB</option>
          </select>
        </div> {% endcomment %}
        
      
        {% comment %} <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="posted">
            <label class="form-check-label" for="gridCheck">
              Keep me posted
            </label>
          </div>
        </div> {% endcomment %}
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

</div>

{% endblock body %}